body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f7f5fa;
  box-sizing: border-box;
  color: #252525;
}


.startContainer {
  /* margin-top: 200px; */
  margin: 200px auto;
  /* text-align: center; */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonContainer {
  display: flex;
  align-items: center;
  /* margin-bottom: 250px; */
  width: 50%;
  justify-content: flex-end;
}

.buttonContainer2 {
  display: flex;
  align-items: center;
  margin-bottom: 250px;
  margin-top: 20px;
  /* width: 55%; */
  /* justify-content: flex-end; */
}

.startButton{
  width: 180px;
  height: 40px;
  font-size: 15px;
  color: white;
  background: #79b759;
  border: none;
  border-radius: 5px;
}

.startButton:hover {
  background: #5e9243;
}

p{
  margin-left: 20px;
  font-size: 12px;
}

.questionsContainer{
  padding: 70px;
}

.question1Box {
  padding: 30px;
  background-color: #eceaf2;
  display: flex;
  height: 160px;
  flex-direction: column;
  justify-content: space-between;
}
.question1BoxSelected {
  padding: 30px;
  background-color: #dddae5;
  display: flex;
  height: 160px;
  flex-direction: column;
  justify-content: space-between;
}

.question1Box:hover, .question1BoxSelected:hover, .question2Box:hover, .question2BoxSelected:hover {
  background-color: #dddae5;
}

.question2Box {
  width: 200px;
  padding: 20px;
  /* height: 100px; */
  background-color: #eceaf2;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.question2BoxSelected {
  width: 200px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #dddae5;
}

.boxContainer{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
  margin-top: 20px;
}

.question2Container {
  margin-top: 130px;
  margin-bottom: 200px;
}

h4, h5 {
  margin: 0;
}

.sticky {
  background: #f7f5fae8;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  filter: blur(5px);
}

.stickyBottom {
  background: #f7f5fae8;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  filter: blur(5px);
}

.whiteBox {
  background-color: white;
  padding: 30px;
  width: 40%;
  margin-bottom: 30px;
}

.summaryContainer {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.light{
  font-weight: lighter;
}

.coolbox {
    background:#cac7d2;
    border-radius: 2px;
    width:25px;
    height:25px;
    line-height:30px;
    text-align:center;
    vertical-align:middle;
    font-weight:bold;
    font-size:16px;
    color: #5e4f84;
    margin-left: 10px;
}

.coolboxSelected {
  background: #5e4f84;
  color: white;
  border-radius: 2px;
  width:25px;
  height:25px;
  line-height:30px;
  text-align:center;
  vertical-align:middle;
  font-weight:bold;
  font-size:16px;
  margin-left: 10px;
}

.checked {
  color: #5e4f84;
  font-weight: lighter;
  font-size: 16px;
}

.checkedBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
